/Exercici 18/nbproject/private/
/Exercici 18/build/
/Exercici 18/dist/
/Exerciciprova/nbproject/private/
/Exercici6bucles/nbproject/private/
/Exercici6bucles/build/
/Exercici6bucles/dist/
/Exercici7abucles/nbproject/private/
/Exercici7abucles/build/
/Exercici7abucles/dist/
/exercici9bucles/nbproject/private/
/exercici9bucles/build/
/exercici9bucles/dist/
